@import "tailwindcss";

.dashboard-page h1,
.dashboard-page h2,
.dashboard-page h3,
.dashboard-page h4,
.dashboard-page h5,
.dashboard-page h6 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
  font-weight:700;
}

.dashboard-page {
  color: #1A204A !important;
}

.dashboard-page .btn2 {
  @apply bg-blue-600 p-3 rounded-md text-[white] hover:bg-transparent hover:!text-blue-700 hover:outline-2 hover:!outline-blue-500 font-bold;
}

.dashboard-page input, .dashboard-page textarea{
@apply !border-gray-400;
}

.dashboard-page .left-nav-tab-selected {
    @apply pl-4 bg-blue-200 select-none bg-[#F1F5F6] w-full h-14 items-center font-bold flex  cursor-pointer  text-base;
}

.dashboard-page .left-nav-tab {
    @apply pl-4 hover:bg-gray-100 select-none w-full h-14 items-center font-bold flex  border-[#fff5df] cursor-pointer text-base;
}


.dashboard-page .tab-selected {
    @apply select-none bg-[#F1F5F6] border-t-2 w-24 h-full font-bold flex justify-center items-center cursor-pointer text-center text-sm;
}

.dashboard-page .tab {
    @apply text-sm select-none w-24 h-full font-bold flex justify-center items-center text-white bg-blue-500 border-[#fff5df] text-center cursor-pointer;
}