@import "tailwindcss";



:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #06373a;
  background-color: #fff5df;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.dashboard-page h1,
.dashboard-page h2,
.dashboard-page h3,
.dashboard-page h4,
.dashboard-page h5,
.dashboard-page h6 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
  font-weight:700;
}

.dashboard-page {
  color: #1A204A !important;
}

.dashboard-page .btn2 {
  @apply  p-3 rounded-md text-[white] hover:bg-transparent hover:text-[#06373a] hover:outline-2 hover:outline-[#06373a] font-bold;
  background-color: blue;
}


h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  @apply text-3xl;
}

label {
  font-weight:700;
}

Nav {
  width: 100;
  height: 80px;
  align-items: center;
  gap: 20px;
  background-color: #06373a;
}

Nav a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

Nav a:hover {
  color: #fff5df;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  @apply bg-white p-3 rounded-md !text-[#06373a] hover:!bg-transparent hover:!text-white hover:!outline-1 hover:outline-white font-bold;
}

.btn2 {
  @apply bg-[#06373a] p-3 rounded-md text-[white] hover:bg-transparent hover:text-[#06373a] hover:outline-2 hover:outline-[#06373a] font-bold;
}


.btn:hover {
  border-color: #06373a;
  background-color: #fff5df;
  box-sizing: border-box;
  color: #06373a;
}

.upload-button {
  @apply flex cursor-pointer  px-4  bg-cyan-500 rounded hover:bg-cyan-600 w-50 h-16 border-2 text-center items-center border-cyan-600 hover:border-cyan-700;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.headerImage {
  width: 100%;
  height: 600px;
  object-fit: cover;

}
